*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    font-size: 30px;
    padding: 60px;
    text-align: center;
    background: turquoise;
}

.navbar.is-black,
.hero.is-white.is-fullheight-with-navbar,
.hero-body{
    border-bottom: 2px solid red   
}

.topnav{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color:black;
    padding: 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.main{
    flex: 60%;
    background-color: bisque;
    padding: 20px;
}
.side{
    flex: 40%;
    background-color: burlywood;
    padding: 20px;
    height: auto;
}
.user{
    display: flex;
    flex-direction: column;
    width: 150px;
  }

  .user .button{
      margin-top: 15px;
  }



.side .side-title{
    text-align: center;
}
.calorieInput{
    text-align: center;
}
.generatedMeal {
    text-align: center;
    margin-top: 20px;
} 
.meal-container{
    text-align: center;
}
.red-text{
    color: red;
}
.bold-text{
    font-weight: bolder;
}
.body{
    flex: 50%;
}
.time{
     flex: 50%;
}
.userInput, .exercise-img{
    margin-top: 100px;
}
.exercise-img img{
    height: 500px;
}
.meal-history{
    display: flex;
    flex-wrap: wrap;
}

.title-end{
    padding-top: 70px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.button{
    padding: 10px;

}

.company-clients img{
    margin: 55px;
}
  
  .fa-github {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: #000000;
    color: white;
  }